*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


/* DEBUG  */
.general-container{
  min-width: 1200px
}
.container-header{
  min-width: 790px;
}
.small-container {
  
  min-width: 760px;
}
  section:nth-child(2),
  section:nth-child(3),
  section:nth-child(4) {
    height: 630px; 
    gap: 0px;
  }
  section:nth-child(3),
  section:nth-child(5) {
    background-color: lightgray;
  }


  footer {
    background-color: #23272a;

  }

  .footer-social-links {
    background-color: darksalmon;
    border: 2px dashed black;
    height: 600px;
    
  }

  
  .footer-menu {
    background-color: darkgray;
    border: 2px dashed white;
    
   
  }

  .container-footer-bot {
    background-color: aquamarine;
    height: 70px;
  }

  .footer-logo,
  .footer-button {
    height: 40px;
    background-color: salmon;
    border: 2px dashed black;
    line-height: 40px;
  }
/* DEBUG */
/* GENERAL */

  main {
  padding-top: 85px;  /* !!!!!!!!! SOSTITUISCI CON ALTEZZA FINALE HEADER riferimento a STICKY*/
  }

  a {
    text-decoration: none;
  }
 .row {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .column {   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
 }
 .row>h2 {
  width: 100%;
 }
/* HEADER */

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#255ee9;
    height: 85px;
    
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

  .container-header {
    max-width: 1400px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container-header > div{
    width: 25%;
  }
  .container-header > nav {
    width: 50%;  
  }
  
  .logo-header>img {
    width: 130px;
    padding-top: 5px;
  }
  
  
  nav>ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    
  }
  nav>ul>li>a {
    color: white;
    font-weight: 500;
    font-size: 1.1rem;
  }
  
  .login {
    background-color: white;
    margin-left: 210px;
    padding: 10px 15px;
    color: black;
  }
  .btn {
    border-radius: 20px;
  }

  .btn.big {
    font-size: 1.55rem;
    padding: 18px 27px;
    border-radius: 45px;
  }
  .btn.big.white {
    color: black;
    background-color: white ;
  }
  .fa-down-long {
    padding-right: 15px;
  }
  .btn.big.black {
    color: white;
    background-color: #23272a;
  }
/* MAIN */
    /* main general */

    .general-container {
      display: flex;
      width: 70%;
      max-width: 1400px;
      height: 630px;
      margin: 0 auto;
      padding: 50px 0;
      height: 100%;
    }

    
    .big-box {
      width: 60%;
    }
  
    .small-box {
      width: 40%;
    }

    /* section1 */
  
  section:first-child {
      background-image: url(../img/jumbo.png);
      height: 520px;
      background-position: center;
      background-size: cover;
    }

  .small-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 1000px;
    margin: 0 auto;
    height: 100%;
  }

  .box-1 {
    text-align: center;
    color: white;
  }

  .box-1>h1 {
    font-size: 3.2rem;
    padding-top: 30px;
  }
  .box-1>p {
    padding-top: 30px;
    font-size: 1.4rem;
    padding-bottom: 50px; 
  }
  
  .box-1>a {
    margin: 0 30px;
  }
    /* section2-3-4 */
  .small-box {
    padding: 30px 45px;
    
  }

  .small-box>h2 {
    font-size: 3rem;
  }
  .small-box>p {
    font-size: 1.4rem;
    padding-top: 50px;
    line-height: 1.5em;
  }

    /* section5 */
 
  .big-container { 
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      max-width: 1400px;
      margin: 0 auto;
      height: 100%;
      padding-top: 150px;
      padding-bottom: 70px;
    }

    .box-8 {
      height: 100%;
      width: 100%;
      font-size: 2.6rem;
      text-align: center;
    }
    .big-img {
      width: 1500px;
    }
    .box-8>p {
      padding-top: 30px;
      font-size: 1.4rem;
      line-height: 1.5em;
    }
   
    
    .bg-stars {
      text-align: center;
      background-image: url(../img/stars.svg);
      background-size: 100%;
      padding: 40px 55px 0 55px;
    }
    /* footer */

  .container-footer-top { 
      display: flex;
      justify-content: center;
      align-items: center;
      width: 70%;
      max-width: 1400px;
      margin: 0 auto;
      height: 100%;
      padding-top: 10px;
      padding-bottom: 30px;
    }

  .footer-social-links{
    width: 30%;
  }
  .footer-menu {
    width: calc(70% / 4)
  }

  footer>hr{
    color: antiquewhite;
  }
  .container-footer-bot { 
    display: flex;
    align-items: center;
    width: 70%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer-menu>ul>li:first-child>a {
    color: #7186d2 ;
  }
  .footer-menu>ul>li>a {
    color: white;
    font-size: 1.2rem;
  }
  .footer-menu>ul {
    list-style: none;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    color: antiquewhite;
  

  }
  .footer-menu>ul>li{
    padding: 20px 0;
  }

  alig